$non-metal: #03a9f4;
$halogen: #f06292;
$metalloid: #673ab7;
$metal: #19caa7;
$alkali-metal: #f44336;
$alkaline-earth-metal: #ff9800;
$transition-metal: #efbb31;
$noble-gas: #00bcd4;
$lanthanoid: #8bc34a;
$actinoid: #cddc39;
