@import "../bootstrap/_variables";
@import "./_variables";

.c-element-badge {
  height: 6rem;
  width: 5rem;
  background-color: $gray-lighter;
  border-bottom: 0.25rem solid white;
  color: $gray;
  margin-top: -1.25rem;
}

.c-element-badge.non-metal {
  border-bottom: 0.25rem solid $non-metal;
}

.c-element-badge.halogen {
  border-bottom: 0.25rem solid $halogen;
}

.c-element-badge.metalloid {
  border-bottom: 0.25rem solid $metalloid;
}

.c-element-badge.metal {
  border-bottom: 0.25rem solid $metal;
}

.c-element-badge.alkali-metal {
  border-bottom: 0.25rem solid $alkali-metal;
}

.c-element-badge.alkaline-earth-metal {
  border-bottom: 0.25rem solid $alkaline-earth-metal;
}

.c-element-badge.transition-metal {
  border-bottom: 0.25rem solid $transition-metal;
}

.c-element-badge.noble-gas {
  border-bottom: 0.25rem solid $noble-gas;
}

.c-element-badge.lanthanoid {
  border-bottom: 0.25rem solid $lanthanoid;
}

.c-element-badge.actinoid {
  border-bottom: 0.25rem solid $actinoid;
}
